{% include 'base.html' %}
{% load to_space %}
{% load static %}
{% load humanize %}
{% block content %}
<script src="https://cdn.jsdelivr.net/sharer.js/latest/sharer.min.js"></script>
<!--Put some code here the render-->
<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-md-12">
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{activitydetail.vnum}}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <a class="btn btn-sm btn-outline-secondary" href="mailto:?subject={{activitydetail.vnum}}%20Activities&body=Please click on the link: http://{{settings.appurl}}/{{activitydetail.id}} to view the activities of {{activitydetail.vnum}}">Share</a>
            <a type="button" class="btn btn-sm btn-outline-secondary" href="/activitiesExport/{{activitydetail.id}}">Export</a>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span class="fa fa-calendar"></span>
            This month
          </button>
        </div>
      </div>
  <div class="card-body">
        <div class="chart-bar">
           <canvas id="myBarChart" width="822" height="319"></canvas>
</div>
</div>
   <h6>{{activitydetail.ftype}}</h6>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Serial:</th>
              <th scope="col">Litre</th>
              <th scope="col">Mileage</th>
              <th scope="col">Unit</th>
              <th scope="col">Request</th>
              <th scope="col">Approv</th>
              <th scope="col">Issuer</th>
              <th scope="col">Com</th>
              <th scope="col">Sign</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
          {% for al in actlist|slice:":15" reversed %}
            <tr>
              <td>{{ al.tid }}</td>
              <td>{{ al.serial_start }} - {{ al.serial_end }}</td>
              <td>{{ al.litre|floatformat:2 }}</td>
              <td>{{al.mread}}</td>
              <td>{{al.unit}}</td>
              <td>{{al.requesterid}}</td>
              <td>{{al.approverid}}</td>
              <td>{{al.issueid}}</td>
              {% if al.comm == 1 %}
              <td>Yes</td>
              {% else %}
              <td>No</td>
              {% endif %}
              {% if al.sign is not none %}
              <td>Yes</td>
              {% else %}
              <td>No</td>
              {% endif %}
              <td>{{al.datemodified}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </div>




        </div>

    </div>

</div>





{% include 'footer.html' %}

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
<script>
// Bar Chart Example
var ctx = document.getElementById("myBarChart");
var myBarChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: [{% for data in actchart%}'{{data.month|date:'M'}}',{%endfor%}], //loop through queryset,
    datasets: [{
      label: "Liters",
      backgroundColor: "#4e73df",
      hoverBackgroundColor: "#2e59d9",
      borderColor: "#4e73df",
      data: [{% for data in actchart %}{{data.total_litre}},{%endfor%}],
    }],
  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'month'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 6
        },
        maxBarThickness: 25,
      }],
      yAxes: [{
        ticks: {
          min: 0,
          maxTicksLimit: 5,
          padding: 10,
          // Include a dollar sign in the ticks
          callback: function(value, index, values) {
            return  number_format(value) + 'L';
          }
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: false
    },
    tooltips: {
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
      callbacks: {
        label: function(tooltipItem, chart) {
          var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
          return datasetLabel +':' + number_format(tooltipItem.yLabel)+ 'L';
        }
      }
    },
  }
});

</script>
<script>
   $('.datepicker').datepicker({
    format: 'mm/dd/yyyy',
    startDate: '-3d'
});
</script>
<!--<script>-->
<!--document.addEventListener("DOMContentLoaded", function(event) {-->

<!--// Uses sharer.js-->
<!--//  https://ellisonleao.github.io/sharer.js/#twitter-->
<!--   var url = window.location.href;-->
<!--   var title = document.title;-->
<!--   var subject = "Read this good article";-->
<!--   var via = "yourTwitterUsername";-->
<!--   //console.log( url );-->
<!--   //console.log( title );-->

<!--//facebook-->
<!--$('#share-wa').attr('data-url', url).attr('data-title', title).attr('data-sharer', 'whatsapp');-->
<!--//facebook-->
<!--$('#share-fb').attr('data-url', url).attr('data-sharer', 'facebook');-->
<!--//twitter-->
<!--$('#share-tw').attr('data-url', url).attr('data-title', title).attr('data-via', via).attr('data-sharer', 'twitter');-->
<!--//linkedin-->
<!--$('#share-li').attr('data-url', url).attr('data-sharer', 'linkedin');-->
<!--// google plus-->
<!--$('#share-gp').attr('data-url', url).attr('data-title', title).attr('data-sharer', 'googleplus');-->
<!--  // email-->
<!--  $('#share-em').attr('data-url', url).attr('data-title', title).attr('data-subject', subject).attr('data-sharer', 'email');-->

<!--//Prevent basic click behavior-->
<!--$( ".sharer button" ).click(function() {-->
<!--  event.preventDefault();-->
<!--});-->


<!--// only show whatsapp on mobile devices-->
<!--var isMobile = false; //initiate as false-->
<!--// device detection-->
<!--if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|-->
<!--    iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|-->
<!--    palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|-->
<!--    vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent)-->
<!--    || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|-->
<!--    ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|-->
<!--    avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|-->
<!--    cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|-->
<!--    el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|-->
<!--    gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|-->
<!--    hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|-->
<!--    iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|-->
<!--    klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|-->
<!--    libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|-->
<!--    mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|-->
<!--    n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|-->
<!--    op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|-->
<!--    pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|-->
<!--    r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|-->
<!--    se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|-->
<!--    so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|-->
<!--    tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|-->
<!--    veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|-->
<!--    w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0,4))) {-->
<!--    isMobile = true;-->
<!--}-->

<!--if ( isMobile == true ) {-->
<!--$("#share-wa").hide();-->
<!--}-->
<!--});-->
<!--</script>-->

{% endblock %}

