<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load humanize %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{settings.description}}</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href=" https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sbadmin2.min.css' %}" rel="stylesheet">
        <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js"  crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{% static 'vendor/easy-number-separator/easy-number-separator.js' %}"></script>
    <link href='https://fonts.googleapis.com/css?family=Libre Barcode 39' rel='stylesheet'>
    <link href="{% static 'dist/bootstrap-table.min.css' %}" rel="stylesheet">


    <script src="{% static 'dist/bootstrap-table.min.js' %}"> </script>
    <script src="{% static  'dist/extensions/auto-refresh/bootstrap-table-auto-refresh.min.js' %}"></script>
    <script src="{% static  'dist/extensions/page-jump-to/bootstrap-table-page-jump-to.min.js' %}"></script>


</head>
{% include 'nav.html' %}
{{ redirect_to_login_immediately }}
<script>
  $(function() {
    $('#table').DataTable()
  })
</script>