{% include 'base.html' %}
{% block content %}
{% load static %}
{% load plotly_dash %}



                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        <a href="/reportpdf" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div>
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Data!</strong> {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
</div>
        {% endfor %}
                    <!-- Content Row -->
                    <div class="row">
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
<!--                            {{chart}}-->
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Total Requests</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ rreq.count}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-credit-card fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
  <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Coupons (Diesel)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{diesel.tdiesel }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-tint fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Petrol total stock Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">  Coupon (Petrol)
                                            </div>
                                             <div class="h5 mb-0 font-weight-bold text-gray-800">{{petrol.tpetrol }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Pending Requests</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ req.pen }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xl-8 col-lg-6">
                            <div class="card shadow mb-4">
                        <div class="card " id="plot1" >
                           <div class="card-body">
                    {{ plot1 | safe }}
                    </div>
                    </div>
                    </div>
                    </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Request per Vehicle</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Month/s to show:</div>
                                            <a class="dropdown-item" href="#">Current Month</a>
                                            <a class="dropdown-item" href="#">Last Month</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">6 Months</a>
                                            <a class="dropdown-item" href="#">12 Months</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                </div>
                            </div>
                            </div>


                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Requests Overview</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Month/s to show:</div>
                                            <a class="dropdown-item" href="#">Current Month</a>
                                            <a class="dropdown-item" href="#">Last Month</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">6 Months</a>
                                            <a class="dropdown-item" href="#">12 Months</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                </div>
                            </div>
                            </div>

                         <div class="col-xl-4 col-md-8 mb-6">

                            <!-- Illustrations -->
                            <div class="card shadow mb-8">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Recent requests</h6>
                                </div>
                                <div class="card-body">
                                    <ul style="list-style-type:none;">
                                        {% for r in rreq|slice:":10"  %}
                                        {% if r.status == 1 %}
                                        <li><small><a class="text-success" href="/approvalflow/{{r.rid}}">{{ r.vnum }} | {{ r.amount }}L</a></small> &rarr; <small>{{ r.requesterid }}</small> </li>
                                        {% elif r.status == 2 %}
                                        <li><small><a class="text-warning" href="/approvalflow/{{r.rid}}">{{ r.vnum }} | {{ r.amount }}L</a></small> &rarr; <small>{{ r.requesterid }}</small> </li>
                                        {% else %}
                                        <li><small><a href="/approvalflow/{{r.rid}}">{{ r.vnum }} | {{ r.amount }}L</a></small> &rarr; <small>{{ r.requesterid }}</small> </li>
                                        {% endif %}
                                        {% endfor %}

                                    </ul>
                                    <a target="_blank" rel="nofollow" href="/requests">All requests
                                         &rarr;</a>
                                </div>
                            </div>




<!--                    <div class="card " id="plot2" style="width: 50rem;">-->
<!--                    {{ plot2 | safe }}-->
<!--                    </div>-->

                                <!-- Card Body -->
<!--                                <div class="card-body">-->

<!--                    <div class="card">-->
<!--                        {{ plot | safe }}-->
<!--                    </div>-->



                <!-- /.container-fluid -->

            <!-- End of Main Content -->

                                    </div>

        <!-- End of Content Wrapper -->

    </div>

{% include 'footer.html' %}


<!--     End of Page Wrapper -->
<!--<script src="{% static 'js/demo/chart-area-demo.js' %}"></script>-->
<script>
    // Area Chart Example
    var ctx = document.getElementById("myAreaChart");
    var myLineChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: [{% for m in month_req %}'{{m.month |date:'M'}}',
        {% endfor %}],
        datasets: [{
          label: "Request/s",
          lineTension: 0.3,
          backgroundColor: "rgba(78, 115, 223, 0.05)",
          borderColor: "rgba(78, 115, 223, 1)",
          pointRadius: 3,
          pointBackgroundColor: "rgba(78, 115, 223, 1)",
          pointBorderColor: "rgba(78, 115, 223, 1)",
          pointHoverRadius: 3,
          pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
          pointHoverBorderColor: "rgba(78, 115, 223, 1)",
          pointHitRadius: 10,
          pointBorderWidth: 2,
          data: [{% for m in month_req %}{{m.total_req }}, {% endfor %}],
        }],
      },
      options: {
        maintainAspectRatio: false,
        layout: {
          padding: {
            left: 10,
            right: 25,
            top: 25,
            bottom: 0
          }
        },
        scales: {
          xAxes: [{
            time: {
              unit: 'date'
            },
            gridLines: {
              display: false,
              drawBorder: false
            },
            ticks: {
              maxTicksLimit: 7
            }
          }],
          yAxes: [{
            ticks: {
              maxTicksLimit: 5,
              padding: 10,
              // Include a dollar sign in the ticks
              callback: function(value, index, values) {
                return number_format(value);
              }
            },
            gridLines: {
              color: "rgb(234, 236, 244)",
              zeroLineColor: "rgb(234, 236, 244)",
              drawBorder: false,
              borderDash: [2],
              zeroLineBorderDash: [2]
            }
          }],
        },
        legend: {
          display: false
        },
        tooltips: {
          backgroundColor: "rgb(255,255,255)",
          bodyFontColor: "#858796",
          titleMarginBottom: 10,
          titleFontColor: '#6e707e',
          titleFontSize: 14,
          borderColor: '#dddfeb',
          borderWidth: 1,
          xPadding: 15,
          yPadding: 15,
          displayColors: false,
          intersect: false,
          mode: 'index',
          caretPadding: 10,
          callbacks: {
            label: function(tooltipItem, chart) {
              var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
              return datasetLabel + ': ' + number_format(tooltipItem.yLabel);
            }
          }
        }
      }
    });
</script>


<script>
<!--// Pie Chart Example-->
var ctx = document.getElementById("myPieChart");
var default_colors = ['#3366CC','#DC3912','#FF9900','#109618',
'#990099','#3B3EAC','#0099C6','#DD4477','#66AA00','#B82E2E',
'#316395','#994499','#22AA99','#AAAA11','#6633CC','#E67300',
'#8B0707','#329262','#5574A6','#3B3EAC']
var myPieChart = new Chart(ctx, {
  type: 'doughnut',
  data: {
    labels: [{% for v in vehnum %} '{{v.vnum}}', {% endfor %}],
    datasets: [{
      data: [{% for v in vehnum %} {{v.vcount}}, {% endfor %}],
      backgroundColor: default_colors,
      hoverBackgroundColor: default_colors,
      hoverBorderColor: "rgba(234, 236, 244, 1,1)",
    }],
  },
  options: {
    maintainAspectRatio: false,
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
    },
    legend: {
      display: true
    },
    cutoutPercentage: 80,
  },
});


</script>


{% endblock %}
