{% include 'base.html' %}
{% load humanize %}
{% block content %}
{% load static %}

<!------ Include the above in your HEAD tag ---------->

<style>

 .pass_show{position: relative}

.pass_show .ptxt {

position: absolute;

top: 50%;

right: 10px;

z-index: 1;

color: #f36c01;

margin-top: -10px;

cursor: pointer;

transition: .3s ease all;

}

.pass_show .ptxt:hover{color: #333333;}

</style>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card shadow mb-4">
                     <div class="card-header py-3">

                         <div class="card-body">
                             {% block messages %}
                        {% if messages %}
                        {% for message in messages %}
                             <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                               <strong>{{ message.tags }}! </strong>  {{ message | safe }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                                </div>

                        {% endfor %}
                        {% endif %}
                        {% endblock %}

<form method="POST" action={% url 'passwordreset' user.id %}>
                             {% csrf_token %}
		    <label>Current Password</label>
		    <div class="form-group pass_show">
                <input type="password" name="passwordold" class="form-control" placeholder="Current Password">
            </div>
		       <label>New Password</label>
            <div class="form-group pass_show">
                <input type="password" name="password" class="form-control" placeholder="New Password">
            </div>
		       <label>Confirm Password</label>
            <div class="form-group pass_show">
                <input type="password" name="password_confirm" class="form-control" placeholder="Confirm Password">
            </div>
            <input type="submit" class="btn btn-primary float-right" value="Reset"/>
            </div>
</form>
		</div>
	</div>
</div>
</div>
</div>
</div>



<script>


$(document).ready(function(){
$('.pass_show').append('<span class="ptxt">Show</span>');
});


$(document).on('click','.pass_show .ptxt', function(){

$(this).text($(this).text() == "Show" ? "Hide" : "Show");

$(this).prev().attr('type', function(index, attr){return attr == 'password' ? 'text' : 'password'; });

});

</script>
</div>

{% include 'footer.html' %}

{% endblock %}