{% include 'base.html' %}

{% block content %}
{% load static %}
{% load to_space %}
 <ul class="container">
        <div class="row">
            <div class="col-md-12">
            <ul class="list-group list-group-flush">
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold " style="color:#5F5D5D">Edit Coupon Request
                    <i class="fas fa fa-credit-card rotate-n-15 "></i>
        </h6>
    </div>
    <div class="card-body">
        <div class="modal-body">
            <div class="card-body">
          {% block messages %}
                        {% if messages %}
                        {% for message in messages %}
                             <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                               <strong>{{ message.tags }}! </strong>  {{ message | safe }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                                </div>

                        {% endfor %}
                        {% endif %}
                        {% endblock %}

    <form method="POST" action="requester">
        {% csrf_token %}
        <input type="text" class="form-control" id="rid" name="rid" value="{{rq.rid}}" readonly hidden>
          <div class="form-group">
            <label for="requesterid" class="col-form-label">Requerter:</label>
            <input type="text" class="form-control" id="requesterid" name="requesterid" placeholder="{{rq.requesterid|to_space }}" style="text-transform:uppercase;" readonly>
        </div>
<!--        {{ stats }}-->
         <div class="form-group">
            <label for="vnum" class="col-form-label">Vehicle number:</label>
            <input type="text" class="form-control" id="vnum" name="vnum" value="{{rq.vnum}}" readonly>
        </div>
        <div class="form-group">
            <label for="mread" class="col-form-label">Meter Reading:</label>
            <input type="number" class="form-control" min="1" max="900000" id="mread" name="mread" value="{{ rq.mread}}" required>
        </div>
         <div class="form-group">
            <label class="col-form-label">Liters Requested:</label>
             <input class="form-control" min="1" value="{{ rq.amount}}" required readonly>
<!--            <select class="form-control" id="tankcat" name="tankcat" style="text-transform:uppercase;" required>-->
<!--                <option selected>{{rq.tankcat}}</option>-->
<!--                {% if rq.tankcat != "empty" %}-->
<!--                <option>empty</option>-->
<!--                {% endif %}-->
<!--                {% if rq.tankcat != "quarter" %}-->
<!--                <option>quarter</option>-->
<!--                {% endif %}-->
<!--                {% if rq.tankcat != "half" %}-->
<!--                <option>half</option>-->
<!--                {% endif %}-->
<!--                {% if rq.tankcat != "3quarter" %}-->
<!--                <option>3quarter</option>-->
<!--                {% endif %}-->
<!--            </select>-->
        </div>


        <div class="form-group">
            <label for="comm" class="col-form-label">Note (Optional):</label>
            <textarea class="form-control" placeholder="{{rq.comm}}" id="comm" name="comm" rows="3">{{rq.comm}}</textarea>
        </div>
        <h6 align="right">{{ rq.created_at }}</h6>
        <div class="modal-footer">

            <a href="/approvalflow/{{ rq.rid }}" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</a>
            {% if rq.ret == 1 and rq.requesterid == user.username %}
            <a href="#" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">Edit</a>

            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="editLabel">Edit Request <i class="fa fa-pen" aria-hidden="true"></i></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form method="POST" action={% url 'ret' rq.rid %}>
                                    {% csrf_token %}
                                    <strong> Vehicle No:</strong> {{rq.vnum}}
                                    <br>
                                    <strong>Fuel Type:</strong> {{rq.ftype}}
                                    <br>
                                    <strong>Liters requested:</strong> {{rq.amount}}
                                    <br>
                                    <strong>Milleage:</strong> {{rq.mread}}
                                    <br>
                                    <strong>Request date:</strong> {{rq.created_at}}
                                    <br>
                                    <strong>Note:</strong> {{rq.comm}}
                                  <div class="form-group">
                                    <label for="message" class="col-form-label">comment:</label>
                                      <textarea type="text" class="form-control" id="message" name="message" ></textarea>
                                  </div>
<!--                                <input name="rid" value="{{aflow.rid}}" hidden>-->
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<!--                              <a href="/approve/{{ aflow.rid }}" class="btn btn-primary btn-sm active" type="submit">Approve</a>-->
                                  <input type="submit" value="Confirm" class="btn btn-primary float-right"/>
                                </form>
                              </div>
                              </div>
                              </div>
                              </div>
                              </div>
            {% endif %}




        </div>
        </form>
    </div>
</div>
</div>
</div>
</div>
</ul>
</div>

<script>
    var comm = document.getElementById("comm").value;

</script>

{% include 'footer.html' %}

{% endblock %}