{% include 'base.html' %}
<script src="easy-number-separator.js"></script>

{% load static %}
{% load humanize %}
{% block content %}

<!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    {% block messages %}
   {% if messages %}
   {% for message in messages %}
   <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
   <strong>{{ message.tags }}! </strong>  {{ message | safe }}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
   <span aria-hidden="true">&times;</span>
    </button>
    </div>
  {% endfor %}
  {% endif %}
  {% endblock %}
                    <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p> -->

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            {% if role == "issuer" or role == "Admin" %}
                             <button type="button" class="btn btn-success btn-circle btn-md float-right" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                          <i class="fas fa-plus"></i>
                      </button>
                            {% endif %}
                        <a class="breadcrumb-item active" aria-current="page">Stock List</a>
                         &nbsp;&nbsp; &nbsp; <a href="/getfile"><i class="fa fa-download" aria-hidden="true"></i></a>

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add stock</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form method="POST" action="stock">
                                    {% csrf_token %}

                                    <div class="form-group">
                                    <label for="bookselect" class="col-form-label">Book:</label>
                                    <select class="form-control" id="bookselect" name="id" required>
                                        <option></option>
                                        {% for book in books %}
                                           <option value="{{book.id}}">{{book.book_id}} - {{book.serial_start}}</option>
                                        {% endfor %}
                                     </select>
                                  </div>

                                  <div class="form-group">
                                    <label for="unit" class="col-form-label">Unit:</label>
                                    <input type="text" class="form-control"  id="unit" name="unit" readonly>
                                  </div>
                                  <div class="form-group">
                                    <label for="dim" class="col-form-label">Dimension:</label>
                                    <input type="number" class="form-control" min="1" max="1000" id="dim" name="cdimension" readonly >
                                  </div>
                                 <div class="form-group">
                                    <label for="ftype" class="col-form-label">Fuel type:</label>
                                    <input type="text" class="form-control" id="ftype" name="ftype" readonly>
                                  </div>
                                  <div class="form-group">
                                    <label for="camount" class="col-form-label">Quantity:</label>
                                    <input type="number" class="form-control" min="1" max="100000"  id="camount" name="camount" readonly>
                                  </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Add"/>
                                </form>
                              </div>
                              </div>

                            </div>

                          </div>

                        </div>

                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Unit</th>
                                            <th>Dimension</th>
                                            <th>Fuel Type</th>
                                            <th>Increment</th>
                                            <th>Accrued</th>
                                            <th>Opening Balance</th>
                                            <th>Current Balance</th>

                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Unit</th>
                                            <th>Dimension</th>
                                            <th>Fuel Type</th>
                                            <th>Increment</th>
                                            <th>Accrued</th>
                                            <th>Opening Balance</th>
                                            <th>Current Balance</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for i in stocks reversed %}
                                        <tr>
                                            {% if i.current_balance <= 0 %}
                                            <td class="text-danger">{{ i.unit }}</td>
                                            <td class="text-danger">{{ i.cdimension }}</td>
                                            <td class="text-danger">{{ i.ftype }}</td>
                                            <td class="text-danger">{{ i.camount }}</td>
                                            <td class="text-danger">{{ i.total | intcomma }}</td>
                                            <td class="text-danger">{{ i.stockopen | intcomma }}</td>
                                            <td class="text-danger">{{ i.current_balance | intcomma }}</td>
                                             {% elif i.current_balance == 1 %}
                                            <td class="text-warning">{{ i.unit }}</td>
                                            <td class="text-warning">{{ i.cdimension }}</td>
                                            <td class="text-warning">{{ i.ftype }}</td>
                                            <td class="text-warning">{{ i.camount }}</td>
                                            <td class="text-warning">{{ i.total | intcomma }}</td>
                                            <td class="text-warning">{{ i.stockopen | intcomma }}</td>
                                            <td class="text-warning">{{ i.current_balance | intcomma }}</td>
                                             {% else %}
                                            <td>{{ i.unit }}</td>
                                            <td>{{ i.cdimension }}</td>
                                            <td>{{ i.ftype }}</td>
                                            <td>{{ i.camount }}</td>
                                            <td>{{ i.total | intcomma }}</td>
                                            <td>{{ i.stockopen | intcomma }}</td>
                                            <td>{{ i.current_balance | intcomma }}</td>
                                            {% endif %}
                                            <td>
                                                {% if role == "issuer" or role == "Admin" %}
                                                <a href="email_stock/{{i.cid}}" class="text-primary" data-toggle="modal" data-target="#emailforstock"><i class="fa fa-fw fa-envelope"></i></a>
                                                <a href="/delstock" class="text-primary" ><i class="fa fa-fw fa-edit"></i></a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% if role == "issuer" or role == "Admin" %}
                                        <div class="modal fade" id="emailforstock" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true"><div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                        <div>
<!-- Section: Contact v.2-->

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Request for Stock</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you want to request for stock? Please do not hesitate to do that from here. The book owner will get back to you soon.</p>

        <!--Grid column-->
        <div class="col-md-10 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action={% url 'email_stock' i.cid %} method="POST">
                {% csrf_token %}
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="unit1" name="unit" class="form-control" value="{{i.unit}}" hidden>
                            <input type="text" id="dim1" name="dim" class="form-control" value="{{i.cdimension}}" hidden>
                            <input type="text" id="ftype1" name="ftype" class="form-control" value="{{i.ftype}}" hidden>
                            <input type="text" id="subject" name="subject" class="form-control" required>
                            <label for="subject" class="">Subject</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Your message</label>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>

            <div class="text-center text-md-left">
                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
            </div>
            <br>
       {% endif %}


</section>
<!--Section: Contact v.2-->
<!--                                        Put my email form here&ndash;&gt;-->
    </div>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>

<script>

            let bookData = [{% for j in js %} {{ j  | safe}}, {% endfor %}];
            document.getElementById('bookselect').onchange = (e) => {
                let selectedbook = bookData.find(bookdata => bookdata.id == e.target.value);

                document.getElementById('unit').value = selectedbook.unit;
                document.getElementById('dim').value = selectedbook.dim;
                document.getElementById('ftype').value = selectedbook.ftype;
                document.getElementById('camount').value = selectedbook.totalAmount/selectedbook.dim;
            };
        </script>


<script>

</script>

            <!-- End of Main Content -->
{% include 'footer.html' %}

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

{% endblock %}