{% include 'base.html' %}
{% load humanize %}
{% load to_space %}
{% block content %}
{% load static %}
<div class="container bootstrap snippets bootdey" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                        <div class="card-header py-3">
                             <button type="button" class="btn btn-success btn-circle btn-md float-right" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                          <i class="fa fa-briefcase" aria-hidden="true"></i>
                      </button>
                            <h5 align="center"><strong>UNITS</strong></h5>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add Unit <i class="fa fa-briefcase" aria-hidden="true"></i></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form method="POST" action="unit">
                                  {% csrf_token %}
                                  <div class="form-group">
                                  <label for="uname" class="col-form-label">Unit Name:</label>
                                  <input type="text" class="form-control" id="uname" name="uname" style="text-transform:uppercase;" required>
                              </div>
                                  <div class="form-group">
                                      <label for="uhead" class="col-form-label">Unit Head:</label>
                                      <input type="text" class="form-control" id="uhead" name="uhead" style="text-transform:uppercase;" required>
                                  </div>
                                  <div class="form-group">
                                      <label for="capprover" class="col-form-label">Coupon Approver:</label>
                                      <select class="form-control" id="capprover" name="capprover" required>
                                    <option selected></option>
                                          {% for a in appv %}
                                          <option value="{{a.user}}">{{a.user}}</option>
                                          {% endfor %}
                                      </select>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      <input value="Add" type="submit" class="btn btn-primary"/>
`                                  </div>
                              </div>
                              </form>
                            </div>
                          </div>
                        </div>
                        </div>
<!--            <div class="main-box no-header clearfix">-->
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                <th><span>Unit Name</span></th>
                                <th><span>Unit Head</span></th>
                                <th class="text-center"><span>Coupon Approver</span></th>
                                <th>&nbsp;Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for u in units reversed %}
                                <tr>
                                    <td style="text-transform:uppercase;">{{u.uname}}</td>
                                    <td style="text-transform:uppercase;">{{u.uhead}}</td>
                                    <td class="text-center" style="text-transform:uppercase;">
                                        <span class="label label-default" >{{u.capprover |to_space}}</span>
                                    </td>
                                    <td style="width: 20%;">
                                        <a href="#" class="table-link text-warning">
                                            <span class="fa-stack" data-toggle="modal" data-target="#viewunitModal{{u.uid}}">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>

                                          <div class="modal fade" id="viewunitModal{{u.uid}}" tabindex="-1" role="dialog" aria-labelledby="viewunitModalLabel{{u.uid}}" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="viewunitModalLabel{{u.uid}}">View {{ u.uname }} <i class="fa fa-briefcase" aria-hidden="true"></i></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                  <div class="form-group">
                                  <label for="uname" class="col-form-label">Unit Name:</label>
                                  <input type="text" class="form-control" value="{{u.uname}}" style="text-transform:uppercase;" required readonly>
                              </div>
                                  <div class="form-group">
                                      <label for="uhead" class="col-form-label">Unit Head:</label>
                                      <input type="text" class="form-control" value="{{u.uhead}}" style="text-transform:uppercase;" required readonly>
                                  </div>
                                  <div class="form-group">
                                      <label for="u.capprover" class="col-form-label">Coupon Approver:</label>
                                      <select class="form-control" required disabled>
                                    <option>{{ u.capprover }}</option>
                                      </select>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
`                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        </div>

                                        <a href="#" class="table-link text-info" data-toggle="modal" data-target="#editunitModal{{u.uid}}">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pen fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                        <a href="unitdel/{{u.uid}}" class="table-link danger" onclick="return confirm('Are you sure to delete this item?');">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-trash fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                        <div class="modal fade" id="editunitModal{{u.uid}}" tabindex="-1" role="dialog" aria-labelledby="editunitModalLabel{{u.uid}}" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="editunitModalLabel{{u.uid}}">Edit {{ u.uname }} <i class="fa fa-briefcase" aria-hidden="true"></i></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form method="POST" action={% url 'unitedit' u.uid %}>
                                  {% csrf_token %}
                                  <div class="form-group">
                                  <label for="uname" class="col-form-label">Unit Name:</label>
                                  <input type="text" class="form-control" value="{{u.uname}}" name="uname" style="text-transform:uppercase;" required>
                              </div>
                                  <div class="form-group">
                                      <label for="uhead" class="col-form-label">Unit Head:</label>
                                      <input type="text" class="form-control" value="{{u.uhead}}" name="uhead" style="text-transform:uppercase;" required>
                                  </div>
                                  <div class="form-group">
                                      <label for="u.capprover" class="col-form-label">Coupon Approver:</label>
                                      <select class="form-control" id="u.capprover" name="capprover" required>
                                    <option value="{{u.capprover}}">{{ u.capprover }}</option>
                                          {% for au in appv %}
                                          {% if au.user.username != u.capprover %}
                                          <option value="{{au.user.username}}">{{au.user.username}}</option>
                                          {% endif %}
                                          {% endfor %}
                                      </select>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      <input value="Update" type="submit" class="btn btn-primary"/>
`                                  </div>
                              </div>
                              </form>
                            </div>
                          </div>
                        </div>
                        </div>

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>

<style type="text/css">
body{
    background:#eee;
}
.main-box.no-header {
    padding-top: 20px;
}
.main-box {
    background: #FFFFFF;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 16px;
    -webikt-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.table a.table-link.danger {
    color: #e74c3c;
}
.label {
    border-radius: 3px;
    font-size: 0.875em;
    font-weight: 600;
}
.user-list tbody td .user-subhead {
    font-size: 0.875em;
    font-style: italic;
}
.user-list tbody td .user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
}
a {
    color: #3498db;
    outline: none!important;
}
.user-list tbody td>img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}

.table thead tr th {
    text-transform: uppercase;
    font-size: 0.875em;
}
.table thead tr th {
    border-bottom: 2px solid #e7ebee;
}
.table tbody tr td:first-child {
    font-size: 1.125em;
    font-weight: 300;
}
.table tbody tr td {
    font-size: 0.875em;
    vertical-align: middle;
    border-top: 1px solid #e7ebee;
    padding: 12px 8px;
}
a:hover{
text-decoration:none;
}
</style>

<script type="text/javascript">

</script>
</div>
{% include 'footer.html' %}

{% endblock %}
</div>